/*! blabbertabber.css v1.0 | MIT License */

/*! colors
 1 - d46a6a
     ffaaaa
 2 - d4cb6a
     fff7aa
 3 - 407f7f
     669999
 4 - 8a458a
     a66fa6
 5 - d4a76a
     ffdbaa
 6 - a5c663
     d4ee9f
 7 - 565695
     8080b3
 8 - d4886a
     ffc2aa
 9 - d4d46a
     ffffaa
10 - 496d89
     718ea4
11 - aa5585
     cd88af
12 - d4ba6a
     ffeaaa
13 - 55aa55
     88cc88
14 - 6b4e90
     8f78ad
15 - d49a6a
     ffd1aa
16 - bbcd67
     e8f6a4
*/

/* Speaker Styles */
.speaker-1 {
	background-color: #d46a6a; }
.speaker-2 {
	background-color: #d4cb6a; }
.speaker-3 {
	background-color: #407f7f; }
