[Unit]
Description=Diarizer server which diarizes files uploaded to it

[Service]
Type=simple
ExecStart=/usr/local/bin/speechbroker
Restart=always
           
[Install]
WantedBy=default.target
