[Unit]
Description=Diarizer server which diarizes files uploaded to it
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/speechbroker -ibmServiceCredsPath=/etc/speechbroker/ibm_service_creds.json -speedfactorsPath=/etc/speechbroker/speedfactors.json
Restart=always
User=diarizer
Group=diarizer

[Install]
WantedBy=multi-user.target